torch
transformers
accelerate
diffusers
safetensors
sentencepiece
protobuf
huggingface_hub
peft
xformers
opencv-python
pillow
numpy
moviepy
imageio
imageio-ffmpeg
soundfile
librosa
faster-whisper
ctranslate2
kokoro
gradio
scipy
tqdm
moviepy<2.0.0
bitsandbytes>=0.46.1